@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100;300;400;500;700;900&display=swap');

  :root{
    --rc-font-primary: 'Roboto', sans-serif;

     /* Colors */
    --color-white: #fdfcfc;
    --color-gray: #f6f6f6;
    --color-blue: #8eadd5;
    --color-dark: #201f1f;
    --color-gray-text: #737373;
  }

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--rc-font-primary);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    background-color: var(--color-white) ;
  
  }

  .nav_li {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    gap: 20px;
  
  }

  .nav_li > li > a{
    color: black;
  }

 
  
  .main_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

  }
   
  .artic_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
    padding-top: 100px;
    
  }


  .section_container {
   
    margin-left: 100px;
    margin-top: 40px;
    width: 400px;
  }

  .h1_container {
    font-size: 50px;
    padding-bottom: 30px;

  }

  .span_main {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
    
  }

  #btn {
  box-sizing: border-box;

  }


  section > p {
    padding-bottom: 30px;
    
  }

  .container_imgs {
    display: flex;
    box-sizing: content-box;
    height: 50px;
    padding-top: 60px;
    width: 100%;
    justify-content: center;
  
    
  }

  .section_imgs {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    height: 50px;
    justify-content: space-around;
    gap: 30px;
    padding: 30px 30px;
    background-color: var(--color-gray);
    border-radius: 10px;

  }

 article > section > img {
  width: 7em;
 }

 .container_flex {
  display: flex;
  flex-direction:row;
  width: 100%;
  margin-top: 5%;
  justify-content: space-between;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10%;
 }

 .comment {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  margin-top: 150px;
 }

.box_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  align-items: center;
}

.box_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  align-items: center;
}

.box_3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  align-items: center;
}
  
#first_person, #second_person, #third_person {
  width: 12em;
}

.box_1, .box_2, .box_3 {
  background-color: var(--color-gray);
  border-radius: 10px;
}

article > section > p {
  
  margin-right: 10px;
  text-align: center;
  color: var(--color-gray-text);
  text-align: start;
}

#btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
}

article > section > h2 {
  font-size: medium;
}

.container_footer {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--color-gray);
  
}

footer > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  
}

footer > ul > li > a {
 color: var(--color-dark);
}

#footer_first_li {
  font-weight: bold;
  font-size: larger;
}

/* RESPONSIVE */ /* RESPONSIVE */ /* RESPONSIVE */
/* RESPONSIVE */ /* RESPONSIVE */ /* RESPONSIVE */

@media screen and (max-width: 720px) {


   
  .header-container {
    flex-direction: column;
    padding: 30px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    background-color: var(--color-white) ;
  
  }

  .nav_li {
    display: flex;
    gap: 40px;
    padding-top: 20px;

}

.pic-menu {
  display: none;
}

.artic_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-right: 0px;
  
}


.section_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   width: 400px;
   margin-left: 0px;
   
   
}

.h1_container {
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;

}

#text_container {
  text-align: center;
}

.nav_header {
  width: 100%;
}

}
