@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100;300;400;500;700;900&display=swap');

  :root{
    --rc-font-primary: 'Roboto', sans-serif;

     /* Colors */
    --color-white: #fdfcfc;
    --color-gray: #f6f6f6;
    --color-blue: #8eadd5;
    --color-dark: #201f1f;
    
  }

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--rc-font-primary);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
  
  }

  .nav_li {
    display: flex;
    gap: 40px;
  
  }

  .nav_li > li > a{
    color: black;
  }

  h1 {
    font-size:px;
  }
  
  .main_container {
    display: block;
    flex-wrap: wrap;
    width: 100%;

  }
   
  .artic-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
  }

  .pic-menu {

  }

  .section-container {
   
    margin-left: 100px;
    margin-top: 40px;
    width: 400px;
    
    
    
  }

  .h1_container {
    font-size: 50px;
    padding-bottom: 30px;

  }

  .span_main {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
  }

  #btn {
  box-sizing: border-box;

  }

  section > p {
    padding-bottom: 30px;
  }

  .container_imgs {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    height: 50px;
    justify-content: space-around;
    
  }

  div > img {
    width: 20px;
  }